<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>canvas</title>
    <link rel="stylesheet" type="text/css" href="/css/draw.css">
</head>
<body>
    <div class="content">
        <div class="left">
            <div class="title">Draw & Guess<img src="/image/pencilbl.png" class="pencil"></div>
            
            <!-- <div class="canvas"> -->
                <canvas id="canvas" width="800" height="480"></canvas>
            <!-- </div> -->
            <div class="member"></div>
        </div>
        <div class="right">
            <div class="guess">
                <ul id="guess-messages" class="message"></ul>
                <form id="guess-form" action="" class="form">
                    <input id="guess-input" autocomplete="off" class="input"><button class="button">Send</button>
                </form>
            </div>
            <div class="chat">
                <ul id="chat-messages" class="message"></ul>
                <form id="chat-form" action="" class="form">
                    <input id="chat-input" autocomplete="off" class="input"><button class="button">Send</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/draw.js"></script>
    <script src="/js/message.js"></script>
</body>