<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Draw&Guess</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <div class="content">
            <div class="title" data-storke="Draw & Guess">Draw & Guess</div>
            <!-- <img src='/image/pencil.png' class="pencil"> -->
            <div class="wrap-all">
                <div class="remind">
                    <img src="/image/bitter.png" class="bitter">
                    <div class="remind-text"></div>
                    <button class="remind-button">OK</button>
                </div>
                <div class="wrap">
                    <img src="/image/cool-glasses.png" class="member">
                    <div class="nav">
                        <button class="sign-in-title">Sign in</button>
                        <button class="sign-up-title">Sign up</button>
                    </div>
                    <!-- <div class="title-text">請輸入暱稱：</div> -->
                    <div class="sign-in-input-div">
                        <input type="text" class="input" id="email" placeholder="Email">
                        <input type="password" class="input" id="password" placeholder="Password">
                        <button class="button" onclick="signIn()">Sign in</button>
                    </div>
                    <div class="sign-up-input-div">
                        <input type="text" class="input" id="username" placeholder="Username">
                        <input type="text" class="input" id="signup-email" placeholder="Email">
                        <input type="password" class="input" id="signup-password" placeholder="Password">
                        <button class="button" onclick="signUp()">Sign up</button>
                    </div>
                </div>
                
            </div>
            <div class="footer">Copyright @ Jasmin<a href="https://github.com/Jasmin61213/Draw-Guess" target="_blank"><img src="/image/github.png" class="github"></a></div>
        </div>
        <script src="/js/index.js"></script>
        <!-- <iframe id="myIframe" name="hideIframe" style="display:none;"></iframe>     -->
    </body>
</html>    