<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>大廳</title>
        <link rel="stylesheet" type="text/css" href="/css/lobby.css">
    </head>
    <body>
        <div class="content">
            <a href='/'><div class="title" data-storke="Draw & Guess">Draw & Guess</div></a>
            <div class="wrap-all">
                <div class="title-text">選擇房間</div> 
                <div class="wrap">
                    <div class="no-room">
                        <img src="/image/suspicious.png" class="suspicious">
                        <div class="no-room-text">目前沒有房間，快來建立一個吧！</div>
                    </div>
                    <div class="remind">
                        <img src="/image/close.png" class="close">
                        <div class="remind-title">房間資訊</div>
                        <div class="remind-text">房間最多人數
                            <select class="select" id="max">  
                                <!-- <option value="3">3</option> -->
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <!-- <option value="100">100</option> -->
                            </select>
                        </div>
                        <div class="remind-text">贏家分數
                            <select class="select" id="score">
                                <!-- <option value="2">2</option> -->
                                <!-- <option value="5">5</option> -->
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                            </select>
                        </div>
                        <div class="radio-div">
                            <input type="radio" class="radio" name="public" value="public" checked>
                            <label for="afternoon" class="radio-label">公開房間</label>
                            <input type="radio" class="radio" name="public" value="privacy">
                            <label for="afternoon" class="radio-label">私人房間</label>
                        </div>
                        <button class="remind-button">建立</button>
                    </div>
                    <!-- <div class="block">
                    </div>
                    <div class="block">
                    </div>
                    <div class="block">
                    </div>
                    <div class="block">
                    </div>
                    <div class="block">
                    </div>
                    <div class="block">
                    </div>
                    <div class="block">
                    </div> -->
                </div>
                <button class="button">建立新房間</button>
            </div>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/js/common.js"></script> -->
    <script src="/js/lobby.js"></script>
</html>   