@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
    background: #ECE2D0;
    /* font-family: 'Rowdies', cursive; */
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

.content{
    display: flex;
    width: 1200px;
    margin:0px auto;
}

.left{
    flex: none;
}

.right{
    flex: none;
}

.title{
    font-family: 'Rowdies', cursive;
    margin: 10px 0 10px 0;
    font-size: 48px;
    color: #D3A588;
}
.title::before {
    content: attr(data-storke);
}

.title::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 5px #65524D;
    text-stroke: 5px #65524D;
}

.pencil{
    width:48px;
    margin-left: 10px;
}

canvas{
    position: relative;
    margin: 0 0 20px 0;
    background-color: #fff;
    border-radius: 15px;
    border-color:#dadada;
    border-style: solid;
    border-width: 1.5px;
}

.start{
    position: absolute;
    top: 80px;
    width: 800px;
    height: 480px;
    background-color: #fff;
    border-radius: 15px;
    border-color:#dadada;
    border-style: solid;
    border-width: 1.5px;
}

.wait-text{
    margin-top: 180px;
    text-align: center;
    font-size: 28px;
    color: #65524D;
}

.start-button{
    margin-top: 20px;
    margin-left: 325px;
    cursor: pointer;
    width: 150px;
    padding-top: 4px;
    border: none;
    border-radius: 10px;
    /* border-width: 2px; */
    background-color: #d3a588;
    color: #fff;
    height: 46px;
    font-size: 24px;
}

.start-button:hover{
    transition-duration: 0.4s;
    background-color: #d3a588d3;
    box-shadow: 0 1px 1px 0 rgba(141, 141, 141, 0.738);
}

.member-list{
    position: absolute;
    top: 570px;
    margin-left: 15px;
    font-family: 'Rowdies', cursive;
    color: #fff;
    text-align: center;
    font-size: 24px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background-color: #D3A588;
    border-radius: 5px;
    box-shadow: 1px 1px 2px  #b4b4b4;
}

.member{
    display: flex;
    margin: 0 0 20px 0;
    width: 790px;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px 10px 15px 0px;
    border-color:#dadada;
    border-style: solid;
    border-width: 1px;
}

.memberBlock{
    width: 175px;
    height: 80px;
    background-color: #ECE2D0;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 2px 2px 3px  #b4b4b4;
}

.memberName{
    font-family: 'Rowdies', cursive;
    /* font-family: 'Noto Sans TC', sans-serif; */
    text-align: center;
    margin: 8px 0 0 50px;
    font-size: 24px;
    color: #65524D;
}

.memberScore{
    font-family: 'Rowdies', cursive;
    text-align: center;
    margin: 5px 0 0 50px;
    font-size: 20px;
    color: #65524D;
}
.guess-list{
    z-index: 1;
    position: absolute;
    top: 75px;
    margin-left: 40px;
    font-family: 'Rowdies', cursive;
    color: #fff;
    text-align: center;
    font-size: 26px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background-color: #D3A588;
    border-radius: 5px;
    box-shadow: 1px 1px 2px  #b4b4b4;
}

.guess{
    position: relative;
    margin: 90px 0 30px 20px;
    width: 380px;
    height: 292px;
    background-color: #fff;
    border-radius: 15px;
    border-color:#dadada;
    border-style: solid;
    border-width: 1.5px;
}

.chat-list{
    z-index: 1;
    position: absolute;
    top: 400px;
    margin-left: 40px;
    font-family: 'Rowdies', cursive;
    color: #fff;
    text-align: center;
    font-size: 26px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background-color: #D3A588;
    border-radius: 5px;
    box-shadow: 1px 1px 2px  #b4b4b4;
}

.chat{
    position: relative;
    margin: 0 0 0 20px;
    width: 380px;
    height: 292px;
    background-color: #fff;
    border-radius: 15px;
    border-color:#dadada;
    border-style: solid;
    border-width: 1.5px;
}

.form{
    width: 380px;
    position: absolute;
    top: 245px;
    left: 10px;
}

.input-div{
    display: flex;
}

.input{
    flex: none;
    width: 300px;
    border: 0;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #ece2d0;
    border-radius: 5px 0 0 5px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    color: #65524D;
}

input:focus{
    outline: none;
}

.button{
    cursor: pointer;
    flex: none;
    width: 50px;
    padding-top: 4px;
    border: none;
    border-radius: 0 5px 5px 0;
    border-width: 2px 2px 2px 0;
    background-color: #d3a588;
    color: #fff;
    height: 36px;
    font-size: 16px;
}
.button:hover{
    transition-duration: 0.4s;
    background-color: #d3a588d3;
    box-shadow: 0 1px 1px 0 rgba(141, 141, 141, 0.738);
}

.message{
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 25px 10px 10px 10px;
    height: 215px;
    overflow:auto;
}

.li{
    font-size: 20px;
    color: #65524D;
}