@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
    background: #ECE2D0;
    /* font-family: 'Rowdies', cursive; */
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
}

.title{
    font-family: 'Rowdies', cursive;
    margin: 30px 0 20px 0;
    font-size: 72px;
    color: #d3a588;
    text-align: center;
}
.title::before {
    content: attr(data-storke);
}

.title::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 9px #65524D;
    text-stroke: 9px #65524D;
}

.pencil{
    margin-left: 10px;
    width: 70px;
}

.wrap-all{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 800px;
    height: 500px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 15px;
    border-color:#dadada;
    border-style: solid;
    border-width: 1.5px;
}

.wrap{
    /* display: flex;
    justify-content: center; */
    /* position: relative; */
    /* margin-top: 100px;
    width: 800px;
    height: 500px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 15px;*/
}

.member{
    margin-top: 60px;
    margin-left: 50px;
    width: 220px;
}

.title-text{
    font-size: 24px;
    color: #65524D;
    margin-bottom: 10px;
}

.input-div{
    display: flex;
}

.input{
    flex: none;
    width: 250px;
    border: 0;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #ece2d0;
    border-radius: 5px 0 0 5px;
    height: 32px;
    padding: 0 0 0 10px;
    font-size: 20px;
    color: #65524D;
}

input:focus{
    outline: none;
}

.button{
    cursor: pointer;
    flex: none;
    padding-top: 4px;
    width: 50px;
    border: none;
    border-radius: 0 5px 5px 0;
    border-width: 2px 2px 2px 0;
    background-color: #d3a588;
    color: #fff;
    height: 36px;
    font-size: 20px;
}
.button:hover{
    transition-duration: 0.4s;
    background-color: #d3a588d3;
    box-shadow: 0 1px 1px 0 rgba(141, 141, 141, 0.738);
}
