@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
    background: #ECE2D0;
    /* font-family: 'Rowdies', cursive; */
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
}

a{
    text-decoration:none;
}

button{
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    background-color: #fff;
}

.title{
    font-family: 'Rowdies', cursive;
    margin: 30px 0 20px 0;
    font-size: 72px;
    color: #d3a588;
    text-align: center;
}
.title::before {
    content: attr(data-storke);
}

.title::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 9px #65524D;
    text-stroke: 9px #65524D;
}

.wrap-all{
    position: relative;
    /* display: flex;
    justify-content: center; */
    margin-top: 100px;
    width: 800px;
    height: 500px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 15px;
    border-color:#dadada;
    border-style: solid;
    border-width: 1.5px;
}

.name{
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 60px;
    font-size: 22px;
    color: #65524D;
}

.title-text{
    font-family: 'Rowdies', cursive;
    text-align: center;
    font-size: 28px;
    color: #65524D;
    padding: 15px 0 11px 0;

}

.logout{
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 15px;
    /* font-size: 20px; */
    width: 36px;
    color: #65524D;
}

.wrap{
    position: relative;
    width: 765px;
    height: 355px;
    margin-left: 19px;
    display: grid;
    grid-template-columns:repeat(3, 240px);
    column-gap: 20px;
    row-gap: 10px;
    overflow: auto;
}

.no-room{
    display: none;
    width: 765px;
    height: 235px;
    background-color: #fff;
    padding-top: 40px;
}

.remind{
    display: none;
    position: absolute;
    z-index: 1;
    /* top: 0px; */
    left: 182.5px;
    background-color: #ECE2D0;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    border-color:#65524D;
    border-style: solid;
    border-width: 5px;
    box-shadow: 1px 1px 2px  #b4b4b4;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 365px;
    width: 24px;
}

.remind-title{
    margin-top: 10px;
    margin-bottom: -3px;
    font-size: 32px;
    color: #65524D;
    text-align: center;
}

.remind-text{
    margin-top: 18px;
    font-size: 24px;
    color: #65524D;
    text-align: center;
    padding-bottom: -5px;
}

.select{
    /* display: inline-block; */
    /* margin-bottom: 5px; */
    width: 70px;
    /* height: 35px; */
    font-size: 20px;
    /* line-height: 20px; */
    /* padding-left: 5px; */
    text-align: center;
    color: #65524D;
    text-shadow: none;
    border: 1px solid #65524D;
    border-radius: 5px;
    vertical-align:middle; margin-bottom:4px;
    /* margin-left: 170px; */
}

.radio-div{
    margin-top: 18px;
}

.radio{
    margin-left: 48px;
}

input[type="radio"]{
    cursor: pointer;
    width: 24px;
    height: 24px;
    accent-color: #65524D;
    border: 0px none;
    vertical-align:middle; margin-bottom:10px;
}

.radio-label{
    margin-top: 15px;
    font-size: 24px;
    color: #65524D;
    /* text-align: center; */
}

.remind-button{
    cursor: pointer;
    /* position: absolute; */
    /* font-family: 'Rowdies', cursive; */
    font-size: 24px;
    color: #fff;
    margin-top: 12px;
    margin-left: 150px;
    /* left: 150px; */
    width: 100px;
    height: 40px;
    background-color: #d3a588;
    border-radius: 5px;
}
.remind-button:hover{
    transition-duration: 0.4s;
    background-color: #d3a588d3;
    box-shadow: 0 1px 1px 0 rgba(141, 141, 141, 0.738);
}

.suspicious{
    width: 150px;
    margin-left: 307.5px;
    margin-bottom: 10px;
}

.no-room-text{
    font-size: 28px;
    color: #65524D;
    text-align: center;
}

.block{
    /* flex-wrap: wrap; */
    margin-bottom: 10px;
    width: 240px;
    height: 160px;
    cursor: pointer;
    background-color: #ece2d0;
    border-radius: 15px;
    box-shadow: 2px 2px 3px  #b4b4b4;
}

.button{
    margin: 15px 0 0 310px;
    cursor: pointer;
    width: 180px;
    /* padding-top: 4px; */
    border: none;
    border-radius: 10px;
    /* border-width: 2px 2px 2px 0; */
    background-color: #d3a588;
    color: #fff;
    height: 40px;
    font-size: 22px;
}

.button:hover{
    transition-duration: 0.4s;
    background-color: #d3a588d3;
    box-shadow: 0 1px 1px 0 rgba(141, 141, 141, 0.738);
}

.text{
    text-align: center;
    font-size: 24px;
    color: #65524D;
    padding: 20px 0 15px 0;
}

.ownerText{
    text-align: center;
    font-size: 24px;
    color: #65524D;
    padding: 30px 0 15px 0;
}

.memberText{
    text-align: center;
    font-size: 24px;
    color: #65524D;
    padding: 10px 0 15px 0;
}

.change{
    display: none;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 55px;
    background-color: #ECE2D0;
    width: 320px;
    height: 200px;
    border-radius: 15px;
    border-color:#65524D;
    border-style: solid;
    border-width: 5px;
    box-shadow: 1px 1px 2px  #b4b4b4;
}

.change-close{
    cursor: pointer;
    position: absolute;
    width: 24px;
    top: 10px;
    right: 10px;
}

.change-text{
    margin: 12px 0 10px 0;
    font-size: 28px;
    color: #65524D;
    text-align: center;
}

.change-input{
    width: 250px;
    margin: 8px 0 2px 28px;
    border: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #ece2d0;
    border-radius: 10px;
    height: 32px;
    padding: 0 0 0 10px;
    font-size: 20px;
    color: #65524D;
}

input:focus{
    outline: none;
}

.alert{
    height: 23px;
    text-align: center;
    color: #65524D;
}

.change-button{
    cursor: pointer;
    position: absolute;
    font-family: 'Rowdies', cursive;
    font-size: 24px;
    margin-top: 5px;
    left: 110px;
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #d3a588;
    border-radius: 5px;
}
.change-button:hover{
    transition-duration: 0.4s;
    background-color: #d3a588d3;
    box-shadow: 0 1px 1px 0 rgba(141, 141, 141, 0.738);
}

.footer{
    padding-right: 24px;
    position: relative;
    margin-top: 45px;
    color: #65524D;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
}

.github{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 290px;
    /* padding-top: 5px; */
    margin-left: 10px;
    width: 24px;
}