@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
    background: #ECE2D0;
    /* font-family: 'Rowdies', cursive; */
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
}

a{
    text-decoration:none;
}

.title{
    font-family: 'Rowdies', cursive;
    margin: 30px 0 20px 0;
    font-size: 72px;
    color: #d3a588;
    text-align: center;
}
.title::before {
    content: attr(data-storke);
}

.title::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 9px #65524D;
    text-stroke: 9px #65524D;
}

.wrap-all{
    /* display: flex;
    justify-content: center; */
    margin-top: 100px;
    width: 800px;
    height: 500px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 15px;
    border-color:#dadada;
    border-style: solid;
    border-width: 1.5px;
}

.title-text{
    text-align: center;
    font-size: 24px;
    color: #65524D;
    padding: 15px 0 15px 0;
}

.wrap{
    width: 765px;
    height: 355px;
    margin-left: 19px;
    display: grid;
    grid-template-columns:repeat(3, 240px);
    /* grid-template-rows: repeat(2, 160px);  */
    column-gap: 20px;
    row-gap: 10px;
    overflow: scroll;
}

.block{
    /* flex-wrap: wrap; */
    margin-bottom: 10px;
    width: 240px;
    height: 160px;
    cursor: pointer;
    background-color: #ece2d0;
    border-radius: 15px;
    box-shadow: 2px 2px 3px  #b4b4b4;
}

.button{
    margin: 15px 0 0 325px;
    cursor: pointer;
    width: 180px;
    /* padding-top: 4px; */
    border: none;
    border-radius: 10px;
    /* border-width: 2px 2px 2px 0; */
    background-color: #d3a588;
    color: #fff;
    height: 40px;
    font-size: 22px;
}

.button:hover{
    transition-duration: 0.4s;
    background-color: #d3a588d3;
    box-shadow: 0 1px 1px 0 rgba(141, 141, 141, 0.738);
}

.text{
    text-align: center;
    font-size: 24px;
    color: #65524D;
    padding: 20px 0 15px 0;
}

.ownerText{
    text-align: center;
    font-size: 24px;
    color: #65524D;
    padding: 30px 0 15px 0;
}

.memberText{
    text-align: center;
    font-size: 24px;
    color: #65524D;
    padding: 10px 0 15px 0;
}